body {font-family: sans-serif;
			background: #000000;
			line-height: 1.4;
		 }

.grid {
  /*  As of August 2012, only supported in Chrome 21+ */
	display: -webkit-flex;
  display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self:auto;
	flex-wrap:wrap;
}
.col {
	background: #ffffff;
  padding: 50px;
	width: 500px;
	margin: 5 5 5 5;
}
.fluid {
	flex: 1;
}
.fixed {
	background: red;
  width: 400px;
}
.title{
	align-items: flex-end;
}
.container{
	width:960px
	height:900px;
	background-color: #000000;
}
